<!DOCTYPE html>
<html ng-app="poker">
    <head>
        <title>{{ title }}</title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
      
        <!--Then bootstrap in order of most general to most specific-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        
        <!-- Local Stuff -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}"/>
        <script src="static/js/main.js"></script>
    </head>
    <body ng-controller="PokerController">
        <div id='config_div'>
            <button id='join_btn' class='btn btn-basic' ng-click="send_action('j', '1000')">Join Game</button>
            <button id='start_btn' class='btn btn-basic' ng-click="send_action('s', '0')">Start Game</button>
        <div id='action_div'>
            <button id='check_btn' class='btn btn-info' ng-click="send_action('ch', '0')">Check</button>
            <button id='bet_btn' class='btn btn-warning' ng-click="send_action('b', '50')">Bet</button>
            <input type="text" class='input_text' id="bet_text">
            <button id='call_btn' class='btn btn-primary' ng-click="send_action('c', '50')">Call</button>
            <button id='raise_btn' class='btn btn-warning' ng-click="send_action('r', '100')">Raise</button>
            <input type="text" class='input_text' id="raise_text">
            <button id='fold_btn' class='btn btn-danger' ng-click="send_action('f', '0')">Fold</button>
        </div>
        
        <img id='dealer' class='dealer_img' src="static/imgs/dealer.png"/>
        
        <img id='chip0' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label0' class='chip_label'>100</label> 
        <img id='chip1' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label1' class='chip_label'>100</label> 
        
        <!--Card Images have absolute locations-->
        <img id='board1' class='card_img' ng-src=""/>
        <img id='board2' class='card_img' ng-src=""/>
        <img id='board3' class='card_img' ng-src=""/>
        <img id='board4' class='card_img' ng-src=""/>
        <img id='board5' class='card_img' ng-src=""/>
        
        <img id='pl_card_01' class='card_img' ng-src="{[ cards['01'] ]}"/>
        <img id='pl_card_02' class='card_img' ng-src="{[ cards['02'] ]}"/>
        <img id='pl_card_11' class='card_img' ng-src="{[ cards['11'] ]}"/>
        <img id='pl_card_12' class='card_img' ng-src="{[ cards['12'] ]}"/>
    </body>
</html>