<!DOCTYPE html>
<html ng-app="poker">
    <head>
        <title>{{ title }}</title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
      
        <!--Then bootstrap in order of most general to most specific-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        
        <!-- Local Stuff -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}"/>
        <script src="static/js/main.js"></script>
    </head>
    <body ng-controller="PokerController">
        
        <div id='config_div'>
            <button id='join_btn' class='btn btn-basic' ng-click="send_action('j', '1000')">Join Game</button>
            <button id='start_btn' class='btn btn-basic' ng-click="send_action('s', '0')">Start Game</button>
            <label id='msg'> LAST ACTION: {[ msg ]} </label>
        </div>

        <div id='action_div'>
            <button id='check_btn' class='action_btn btn btn-info' ng-click="send_action('ch', '0')">Check</button>
            <button id='bet_btn' class='action_btn btn btn-warning' ng-click="send_action('b', '50')">Bet</button>
            <input type="text" class='action_btn input_text' id="bet_text">
            <button id='call_btn' class='action_btn btn btn-primary' ng-click="send_action('c', '50')">Call</button>
            <button id='raise_btn' class='action_btn btn btn-warning' ng-click="send_action('r', '100')">Raise</button>
            <input type="text" class='action_btn input_text' id="raise_text">
            <button id='fold_btn' class='action_btn btn btn-danger' ng-click="send_action('f', '0')">Fold</button>
        </div>
        
        
        <img id='dealer' class='dealer_img' src="static/imgs/dealer.png"/>
        <img id='pot' class='pot_img' src="static/imgs/chip_stack.png"/>
        <label id='pot_label' class='pot_label'> {[ pot ]} </label>
        
        <img id='chip0' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label0' class='chip_label'></label>
        <img id='chip1' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label1' class='chip_label'></label> 
        <img id='chip2' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label2' class='chip_label'></label>
        <img id='chip3' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label3' class='chip_label'></label> 
        <img id='chip4' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label4' class='chip_label'></label>
        <img id='chip5' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label5' class='chip_label'></label> 
        <img id='chip6' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label6' class='chip_label'></label>
        <img id='chip7' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label7' class='chip_label'></label> 
        <img id='chip8' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label8' class='chip_label'></label>
        <img id='chip9' class='chip_img' src="static/imgs/chip.png"/>
        <label id='chip_label9' class='chip_label'></label> 
        
        <!--Card Images have absolute locations-->
        <img id='board0' class='card_img' ng-show="cards['board0']" ng-src="{[ cards['board0'] ]}"/>
        <img id='board1' class='card_img' ng-show="cards['board1']" ng-src="{[ cards['board1'] ]}"/>
        <img id='board2' class='card_img' ng-show="cards['board2']" ng-src="{[ cards['board2'] ]}"/>
        <img id='board3' class='card_img' ng-show="cards['board3']" ng-src="{[ cards['board3'] ]}"/>
        <img id='board4' class='card_img' ng-show="cards['board4']" ng-src="{[ cards['board4'] ]}"/>
        
        <label id='pl_money_0' ng-show="money[0]" class='money_lab'>Player 1: {[ money[0] ]}</label>
        <label id='pl_money_1' ng-show="money[1]" class='money_lab'>Player 2: {[ money[1] ]}</label>
        <label id='pl_money_2' ng-show="money[2]" class='money_lab'>Player 3: {[ money[2] ]}</label>
        <label id='pl_money_3' ng-show="money[3]" class='money_lab'>Player 4: {[ money[3] ]}</label>
        <label id='pl_money_4' ng-show="money[4]" class='money_lab'>Player 5: {[ money[4] ]}</label>
        <label id='pl_money_5' ng-show="money[5]" class='money_lab'>Player 6: {[ money[5] ]}</label>
        <label id='pl_money_6' ng-show="money[6]" class='money_lab'>Player 7: {[ money[6] ]}</label>
        <label id='pl_money_7' ng-show="money[7]" class='money_lab'>Player 8: {[ money[7] ]}</label>
        <label id='pl_money_8' ng-show="money[8]" class='money_lab'>Player 9: {[ money[8] ]}</label>
        <label id='pl_money_9' ng-show="money[9]" class='money_lab'>Player 10: {[ money[8] ]}</label>
        
        
        <img id='pl_card_01' class='card_img' ng-src="{[ cards['01'] ]}"/>
        <img id='pl_card_02' class='card_img' ng-src="{[ cards['02'] ]}"/>
        <img id='pl_card_11' class='card_img' ng-src="{[ cards['11'] ]}"/>
        <img id='pl_card_12' class='card_img' ng-src="{[ cards['12'] ]}"/>
        <img id='pl_card_21' class='card_img' ng-src="{[ cards['21'] ]}"/>
        <img id='pl_card_22' class='card_img' ng-src="{[ cards['22'] ]}"/>
        <img id='pl_card_31' class='card_img' ng-src="{[ cards['31'] ]}"/>
        <img id='pl_card_32' class='card_img' ng-src="{[ cards['32'] ]}"/>
        <img id='pl_card_41' class='card_img' ng-src="{[ cards['41'] ]}"/>
        <img id='pl_card_42' class='card_img' ng-src="{[ cards['42'] ]}"/>
        <img id='pl_card_51' class='card_img' ng-src="{[ cards['51'] ]}"/>
        <img id='pl_card_52' class='card_img' ng-src="{[ cards['52'] ]}"/>
        <img id='pl_card_61' class='card_img' ng-src="{[ cards['61'] ]}"/>
        <img id='pl_card_62' class='card_img' ng-src="{[ cards['62'] ]}"/>
        <img id='pl_card_71' class='card_img' ng-src="{[ cards['71'] ]}"/>
        <img id='pl_card_72' class='card_img' ng-src="{[ cards['72'] ]}"/>
        <img id='pl_card_81' class='card_img' ng-src="{[ cards['81'] ]}"/>
        <img id='pl_card_82' class='card_img' ng-src="{[ cards['82'] ]}"/>
        <img id='pl_card_91' class='card_img' ng-src="{[ cards['91'] ]}"/>
        <img id='pl_card_92' class='card_img' ng-src="{[ cards['92'] ]}"/>
    </body>
</html>