<!DOCTYPE html>
<html>
    <head>
        <title>Texas Hold'em</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}"/>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="static/js/send_action.js"></script>
    </head>
    <body>
        <div>
            TEST HOME
            <button onclick="send_action(event, 'j', '1000', '0', '{{ SECRET_KEY }}');">Join Game</button>
            <button onclick="send_action(event, 's', '0', '0', {{ SECRET_KEY }}');">Start Game</button>
            <button onclick="send_action(event, 'ch', '0', '0', '{{ SECRET_KEY }}');">Check</button>
            <button onclick="send_action(event, 'b', '50', '0', '{{ SECRET_KEY }}');">Bet</button>
            <button onclick="send_action(event, 'c', '0', '0', '{{ SECRET_KEY }}');">Call</button>
            <button onclick="send_action(event, 'r', '100', '0', '{{ SECRET_KEY }}');">Raise</button>
            <button onclick="send_action(event, 'f', '0', '0', '{{ SECRET_KEY }}');">Fold</button>
        <div>
    </body>
</html>