body {
    background-image: url('/static/imgs/table.jpg');
    background-repeat:no-repeat;
    /*background-size:cover;*/
    background-size: 1000px 750px
}

div#config_div {
    margin : 25px;
}

#bet_text {
    margin-right : 75px;
}

.input_text {
    width : 50px;
}

div#action_div {
    position : absolute;
    left : 270px;
    top : 450px;
}

img.card_img {
    position : absolute;
    width : 90px;
    height : 120px;
    padding : 5px;    
}

.card_img#board1 {
    left : 260px;
    top : 290px;
}

.card_img#board2 {
    left : 360px;
    top : 290px;    
}

.card_img#board3 {
    left : 460px;
    top : 290px;
}

.card_img#board4 {
    left : 560px;
    top : 290px;
}

.card_img#board5 {
    left : 660px;
    top : 290px;
}

.card_img#pl_card_11 {
    left : 350px;
    top : 100px;
}

.card_img#pl_card_12 {
    left : 370px;
    top : 100px;
}

.card_img#pl_card_21 {
    left : 540px;
    top : 100px;
}

.card_img#pl_card_22 {
    left : 560px;
    top : 100px;
}