body {
    background-image: url('/static/imgs/table.jpg');
    background-repeat:no-repeat;
    /*background-size:cover;*/
    background-size: 1000px 750px
}

.action_btn {
    visibility : hidden;
}

div#config_div {
    margin : 25px;
}

#bet_text {
    margin-right : 75px;
}

.input_text {
    width : 50px;
}

div#action_div {
    position : absolute;
    left : 270px;
    top : 420px;
}

img.card_img {
    position : absolute;
    width : 90px;
    height : 120px;
    padding : 5px;    
}

.card_img#board0 {
    left : 260px;
    top : 280px;
}

.card_img#board1 {
    left : 360px;
    top : 280px;    
}

.card_img#board2 {
    left : 460px;
    top : 280px;
}

.card_img#board3 {
    left : 560px;
    top : 280px;
}

.card_img#board4 {
    left : 660px;
    top : 280px;
}

.card_img#pl_card_01 {
    left : 350px;
    top : 100px;
}

.card_img#pl_card_02 {
    left : 370px;
    top : 100px;
}

.card_img#pl_card_11 {
    left : 540px;
    top : 100px;
}

.card_img#pl_card_12 {
    left : 560px;
    top : 100px;
}

#dealer {
    position : absolute;
    left : 350px;
    top : 225px;
    height : 35px;
    width : 35px;
}

.chip_img {
    position : absolute;
    height : 35px;
    width : 35px;
}

.chip_label {
    display: block;
    text-align: center;
    position : absolute;
    width : 35px;
    color : black;
}

#chip0 {
    left : 410px;
    top : 225px;
    visibility : hidden;
}

#chip_label0 {
    left : 410px;
    top : 230px;
    visibility : hidden;
}

#chip1 {
    left : 600px;
    top : 225px;
    visibility : hidden;
}

#chip_label1 {
    left : 600px;
    top : 230px;
    visibility : hidden;
}
